[Unit]
Description=Node.js Express Server
After=network.target

[Service]
ExecStart=/usr/bin/node /var/www/html/server/main.js
Restart=always
User=www-data
Group=www-data
Environment=NODE_ENV=production
WorkingDirectory=/var/www/html/server
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webpath

[Install]
WantedBy=multi-user.target